.parent-container-input{

    display:flex; 
    align-items:center;
    justify-content:center; 
    overflow: hidden ;
}
.container-form{
    height: 200vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.276);
    position: absolute;
    
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 1s, ease-out;
    z-index: 1;
}
.container-inner{
    width: 500px;
    height: 500px;
    background-color:pink;
    box-shadow: 13px 9px 0px 0px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;

    position: absolute;
    top:55%;

}
.form-component{
    margin: 40px 20px 20px 20px;

}
.button-close{
    position: absolute;
    top: 10px;
    right: 10px;
}
.button-close:hover{
    cursor: pointer;
}